.header {
  background-color: var(--white);
  border-bottom: 2px solid var(--border-color);
  padding: 1rem;
  box-shadow: 0 4px 12px var(--shadow);
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 0 1 auto;
}

.logo {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  line-height: 0.7;
  text-decoration: none;
}

.logo-top {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--primary-green);
  letter-spacing: 1px;
}

.logo-bottom {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--accent-green);
  align-self: flex-end;
  padding-right: 5px;
}

.header-center {
  display: flex;
  flex: 1 1 100%;
  order: 3;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-right {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  flex: 1 2 auto;
  justify-content: flex-end;
}

.icon-btn {
  background: none;
  border: none;
  color: var(--primary-green);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.icon-btn:hover {
  color: var(--accent-green);
  transform: translateY(-2px);
}

.badge {
  position: absolute;
  top: -2px;
  right: -4px;
  background-color: var(--accent-green);
  color: var(--white);
  font-size: 0.7rem;
  height: 18px;
  min-width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  border: 2px solid var(--white);
}

.account-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--primary-green);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.95rem;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.account-name {
  display: none;
}

.account-btn:hover {
  background-color: var(--accent-green);
  transform: translateY(-2px);
}

@media (min-width: 1024px) {
  .header {
    flex-wrap: nowrap;
    padding: 1rem 2rem;
    gap: 0;
  }

  .header-left {
    gap: 2.5rem;
    flex: 1 1 0%;
  }

  .logo-top {
    font-size: 1.8rem;
  }

  .logo-bottom {
    font-size: 1.1rem;
  }

  .header-center {
    flex: 2;
    order: 0;
    max-width: 50rem;
    padding: 0 1rem;
  }

  .header-right {
    gap: 1.5rem;
    flex: 1 1 10%;
  }

  .account-btn {
    padding: 0.6rem 1.2rem;
    border-radius: 25px;
    width: auto;
    height: auto;
    white-space: nowrap;
  }

  .account-name {
    display: inline-block;
  }
}

@media (min-width: 1515px) {
  .header-center::before {
    content: "";
    display: block;
    width: 38px;
    margin-right: 1rem;
  }
}
