.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 0.8rem 1rem 0.6rem 2.8rem;
  border-radius: 25px;
  background-color: var(--bg-light);
  border: 1px solid var(--border-color);
  color: var(--text-dark);
  width: 30rem;
  outline: none;
  transition: all 0.3s ease;
}

.search-container input:focus {
  border-color: var(--accent-green);
  width: 280px;
  background-color: var(--white);
  box-shadow: 0 0 0 3px rgba(126, 176, 109, 0.2);
}

.search-icon {
  position: absolute;
  left: 14px;
  color: #888;
  transition: color 0.3s ease;
}